{% extends 'HF.html'%}
{% block content %}
container">
    <br><br><br><br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>
<div class="
<center>
<h1>404</h1>
<p>Page Not Found.Try Again...</p>
</center>
</div>
{% endblock %}
