{% extends 'HF.html'%}
{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>


{% endfor %}
{% block content %}
<br><br><br><br>
<h1 align="center">Jobs</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
      <th scope="col">Job Title</th>
      <th scope="col">Department</th>
      <th scope="col">Description</th>
		<th scope="col">Requirement</th>
		<th scope="col">Job Type</th>
		<th scope="col">Category</th>
		<th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ row.title }}</td>
		<td>{{ row.department }}</td>
		<td>{{ row.description }}</td>
		<td>{{ row.requirement }}</td>
		<td>{{ row.job_type }}</td>
		<td>{{ row.category }}</td>
		<td>
            <form action="{{ url_for('apply_job') }}" method="post">
              <input type="submit"  class="btn btn-primary btn-sm mt-3" value="Apply">
            </form>
          </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br><br><br><br>
{% endblock %}