{% extends 'HF.html'%}
{% block content %}

<br><br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>
<h1 align="center">Blocked Users</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
      <th scope="col">id</th>
      <th scope="col">Email</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>
          <form action="{{ url_for('unblock_user', use=row[0]) }}" method="post">
              <input type="submit"  class="btn btn-success btn-sm mt-3"
                     onclick="return confirm('Please confirm that you want to Block this user?')"
                     value="Unblock">
          </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br><br><br><br>
{% endblock %}
