{% extends 'HF.html' %}

{% block content %}
<br><br><br><br><br>
	<h2 align="center">Dashboard</h2>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Name:</strong>
	{{ data.name }}<br/><br><br>

	<strong>Id:</strong>
	{{ data.id }}<br/><br><br>

			<strong>Phone:</strong>
	{{ data.phone }}<br/><br><br>

			<strong>Gender:</strong>
	{{ data.gender }}<br/><br><br>

	<strong>Email:</strong>
	{{ data.email }}<br><br><br>

	<strong>Account type:</strong>
	{{ data.account_type }}<br/><br><br>

	<strong>Date Joined:</strong>
	{{ data.date_added }}<br/><br><br>





    </p>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
			<a href="{{  url_for('update_user', user_id=current_user.id)}}" class="btn btn-success btn-sm">Update</a>
			<a href="{{ url_for('delete_user')}}" class="btn btn-danger btn-sm">Delete account</a>
			<br><br>

		</div></div></div></div></div>

{% endblock %}
{% set sticky = true %}
