{% extends 'HF.html'%}
{% block content %}

<br><br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>
<h1 align="center">Current Available Jobs</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
        <th scope="col">Post_uid</th>
      <th scope="col">Job Title</th>
      <th scope="col">Department</th>
      <th scope="col">Description</th>
		<th scope="col">Requirement</th>
		<th scope="col">Job Type</th>
		<th scope="col">Category</th>
		<th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
        <td>{{ row[0] }}</td>
      <td>{{ row[1]}}</td>
		<td>{{ row[2] }}</td>
		<td>{{ row[3] }}</td>
		<td>{{ row[4] }}</td>
		<td>{{ row[5] }}</td>
		<td>{{ row[6] }}</td>
		<td>
            <form action="{{ url_for('delete_data', id=row[7]) }}" method="post">
              <input type="submit"  class="btn btn-danger btn-sm mt-3"
                     onclick="return confirm('Did you want to delete the job?')"
                     value="Delete">
            </form>
          </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br><br><br><br>
{% endblock %}
