{% extends 'HF.html'%}
{% block content %}
<br><br><br><br>
<div>
<section class="mb-5" id="a">
        <h4 class="mb-5 text-center"><strong>LOGIN</strong></h4><br><br>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form action="{{  url_for('login') }}" method="post">

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="email" required/>
                <label class="form-label" for="form3Example3">Email</label>
              </div>
              <br>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" name="psw" required/>
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Login
              </button>
              <br>
              <br>
              <div style="text-align: center;">
                <label class="form-label" for="form3Example3">If You're not having account?
                  <a href="{{  url_for('signup') }}">Signup</a></label></div>

</form>
</div>
</div>
</section>
</div>

{% endblock %}
