{% extends 'HF.html'%}
{% block content %}

<br><br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>
<div>
<section class="mb-5" id="a">
        <h4 class="mb-5 text-center"><strong>LOGIN</strong></h4><br><br>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form action="{{  url_for('login') }}" method="post">

              <div class="form-outline col-auto">
                <input type="email" id="form3Example3" class="form-control" name="email" required/>
                <label class="form-label" for="form3Example3">Email</label>
              </div><br>
              <br>
              <div class="form-outline col-auto">
                <input type="password" id="form3Example4" class="form-control" name="psw" required/>
                <label class="form-label" for="form3Example4">Password</label>
              </div><br>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Login
              </button>
              <br>
              <br>
              <div style="text-align: center;">
                <label class="form-label" for="form3Example3">If You're not having account?
                  <a href="{{  url_for('signup') }}">Signup</a></label><br>
                <label class="form-label" for="form3Example3">
                  <a href="{{  url_for('forget_password') }}">Forget Password</a></label>
              </div>

</form>
</div>
</div>
</section>
</div>

{% endblock %}
{% set sticky = true %}
