{% extends 'HF.html'%}
{% for message in get_flashed_messages() %}
{% endfor %}
{% block content %}
<br><br><br><br><br><br>
<div>
<section class="mb-5" id="a">
        <h4 class="mb-5 text-center"><strong>Update</strong></h4><br>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form action="{{  url_for('update_user', user_id=current_user.id) }}" method="post">
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="name" required/>
                    <label class="form-label" for="form3Example1">Full Name</label>
                  </div>
                </div>
                   <div class="form-outline mb-4">
                  <input type="date" id="form3Example9" name="Dob" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example9">DOB</label>
                </div>
                  <div class="form-outline mb-4">
                  <input type="text" id="form3Example98" name="phone" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example98">Phone</label>
                </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Update
              </button>
              <br>
              <br>
</form>
</div>
</div>
</section>
</div>
{% endblock %}
